.counter-second{
    margin-top: 80px;
    .main-counter{
        h1{
            font-weight: bold;
            font-size: 58px;
            color: #96BB7C;
        }
        p{
            font-size: 16px;
            color: #252B42;
            font-weight: 700;
        }
    }
}