.nav-good {
    margin-bottom: 80px;

    .bard-a {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color: #252B42;
    }

    .collapse {
        .navbar-nav {
            .pro-doc {
                color: gray;
                font-weight: 500;
                font-size: 15px;
            }
        }
    }

    .sing-page {
        .lo-bg {
            p {
                margin-right: 45px;
                color: #96BB7C;
                font-weight: 500;
                font-size: 19px;
            }
        }

        .button-t {
            .bt {
                background-color: #96BB7C;
                padding: 15px 25px;
                color: #fff;
                border: 0;
                border-radius: 5px;
                font-size: 17px;
                font-weight: 600;

                svg {
                    margin-left: 15px;
                }
            }
        }
    }
}

.best-back {
    background-color: #FAFAFA;
    height: 100vh;
    width: 100%;
}









