.last-complete {
    margin-top: 160px;
    margin-bottom: 160px;

    .input-and-text {
        .n {
            font-size: 16px;
            color: #96BB7C;
            font-weight: 600;
        }

        .w {
            font-size: 40px;
            font-weight: bold;
        }

        .t {
            font-size: 18px;
            color: #737373;
            font-weight: 400;
        }
    }

    .input-body {
        margin-top: 80px;
        position: relative;
    }

    .input-main {
        input {
            padding: 28px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 5px;
            background-color: #f9f9f9;
            border: 1px solid #e9e9e9;
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .button-input {
        .button-inputs {
            position: absolute;
            right: 324px;
            top: 1px;
            background-color: #96BB7C;
            padding: 28px;
            border: 0;
            font-size: 14px;
            color: #f9f9f9;
            font-weight: 400;
            letter-spacing: 2px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

}


.icon-dive-sliders {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    .st-generosityg{
        font-size: 32px;
        background: #fff;
        box-shadow: 2px 2px 2px #dadada;
        padding: 4px;
        margin-right: 20px;
        cursor: pointer;
    }

    .st-avaricef{
        font-size: 32px;
        background: orangered;
        box-shadow: 2px 2px 2px #dadada;
        padding: 4px;
        margin-right: 20px;
        cursor: pointer;
        transition: .4s ease-in-out;

        &:hover {
            background: orangered;

        }
    }

}

.card-fanta .chat-card {
    object-fit: cover;
}

.chat-card {
    overflow: hidden;
}

.cahk {

    width: 100%;
    max-width: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.swiper-pagination{
    display: none;
}

// .swiper-navBtn{
//     position: absolute;
//     bottom: 0;
//     top: 95%;
//     left: 50%;
//     text-align: center;
//     margin: 0 auto;
//     transform: translateY(-50%);
// }


// .swiper-navBtns{
//     position: absolute;
//     bottom: 0;
//     top: 95%;
//     left: 50%;
//     text-align: center;
//     margin: 0 auto;
//     transform: translateY(-50%);
// }


@media (max-width: 600px) {
    .swiper-navBtn{
        display: none;
    }

    .swiper-navBtns{
        display: none;
    }
}