.main-client-people {
    margin-top: 160px;

    .our-paragrep {
        .Problems-t {
            color: #7f7f7f;
            font-weight: 500;
            width: 40%;
            margin-bottom: 80px;
        }
    }

    .main-star {
        .star-yellow {
            color: #F3CD03;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 15px;        
        }
    }

    .main-boss{
        p{
            font-size: 19px;
            color: #737373;
            font-size: 400;
            margin-bottom: 30px;
            width: 40%;
            text-align: center;
        }
    }

    .good-img{
        .sot{
            img{
                margin-right: 15px;
            }
        }
    }
    
    .text-box{
        h6{
            font-size: 18px;
            color: #96BB7C;
            font-weight: 500;
        }

        p{
            font-size: 16px;
            font-weight: 400;
        }
    }

}