h5 {
    margin-bottom: 10px;
    color: #96BB7C;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Problems {
    color: #737373;
    font-weight: 600;
    width: 31%;
}